<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- archive_TableFieldList[archive_tablefieldlist]SQLMapper自动映射 -->
<!--  注意:此文件由AOS平台自动生成-禁止手工修改 2016-08-25 21:00:04 -->
<mapper namespace="cn.osworks.aos.system.dao.mapper.Archive_tablefieldlistMapper">
	
	<!-- 插入一个数据持久化对象(插入字段为传入PO实体的非空属性) -->
	<insert id="insert"  parameterType="Archive_tablefieldlistPO">
		INSERT INTO archive_tablefieldlist (
		
		<if test="tid != null">
	         tid, <!-- tid -->
		</if>
		<if test="fieldenname != null and fieldenname != ''">
	         fieldenname, <!-- FieldEnName -->
		</if>
		<if test="fieldcnname != null and fieldcnname != ''">
	         fieldcnname, <!-- FieldCnName -->
		</if>
		<if test="fieldclass != null and fieldclass != ''">
	         fieldclass, <!-- FieldClass -->
		</if>
		<if test="fieldsize != null">
	         fieldsize, <!-- FieldSize -->
		</if>
		<if test="fieldview != null">
	         fieldview, <!-- FieldView -->
		</if>
		<if test="fieldmetch != null">
	         fieldmetch, <!-- FieldMetch -->
		</if>
		<if test="fieldtype != null">
	         fieldtype, <!-- FieldType -->
		</if>
		<if test="fieldnull != null">
	         fieldnull, <!-- FieldNull -->
		</if>
		<if test="fieldft != null">
	         fieldft, <!-- FieldFt -->
		</if>
		<if test="indx != null">
	         indx, <!-- indx -->
		</if>
		<if test="searchview != null">
	         searchview, <!-- SearchView -->
		</if>
		<if test="fieldsetview != null">
	         fieldsetview, <!-- FieldSetView -->
		</if>
		<if test="zjdisplay != null and zjdisplay != ''">
	         zjdisplay, <!-- zjdisplay -->
		</if>
		<if test="dislen != null">
	         dislen, <!-- dislen -->
		</if>
		<if test="id_ != null">
	         id_ <!-- id_ -->
		</if>
		)VALUES(
		
		<if test="tid != null">
	          #{tid, jdbcType=INTEGER}, <!-- tid -->
	    </if>
		<if test="fieldenname != null and fieldenname != ''">
	          #{fieldenname, jdbcType=VARCHAR}, <!-- FieldEnName -->
	    </if>
		<if test="fieldcnname != null and fieldcnname != ''">
	          #{fieldcnname, jdbcType=VARCHAR}, <!-- FieldCnName -->
	    </if>
		<if test="fieldclass != null and fieldclass != ''">
	          #{fieldclass, jdbcType=VARCHAR}, <!-- FieldClass -->
	    </if>
		<if test="fieldsize != null">
	          #{fieldsize, jdbcType=INTEGER}, <!-- FieldSize -->
	    </if>
		<if test="fieldview != null">
	          #{fieldview, jdbcType=INTEGER}, <!-- FieldView -->
	    </if>
		<if test="fieldmetch != null">
	          #{fieldmetch, jdbcType=INTEGER}, <!-- FieldMetch -->
	    </if>
		<if test="fieldtype != null">
	          #{fieldtype, jdbcType=INTEGER}, <!-- FieldType -->
	    </if>
		<if test="fieldnull != null">
	          #{fieldnull, jdbcType=INTEGER}, <!-- FieldNull -->
	    </if>
		<if test="fieldft != null">
	          #{fieldft, jdbcType=INTEGER}, <!-- FieldFt -->
	    </if>
		<if test="indx != null">
	          #{indx, jdbcType=INTEGER}, <!-- indx -->
	    </if>
		<if test="searchview != null">
	          #{searchview, jdbcType=INTEGER}, <!-- SearchView -->
	    </if>
		<if test="fieldsetview != null">
	          #{fieldsetview, jdbcType=INTEGER}, <!-- FieldSetView -->
	    </if>
		<if test="zjdisplay != null and zjdisplay != ''">
	          #{zjdisplay, jdbcType=VARCHAR}, <!-- zjdisplay -->
	    </if>
		<if test="dislen != null">
	          #{dislen, jdbcType=INTEGER}, <!-- dislen -->
	    </if>
	    <if test="id_ != null">
	          #{id_, jdbcType=VARCHAR} <!-- id_ -->
	    </if>
		)
	</insert>
	
	<!-- 插入一个数据持久化对象(含所有字段) -->
	<insert id="insertAll"  parameterType="Archive_tablefieldlistPO">
		INSERT INTO archive_tablefieldlist (
		    <include refid="column" />
		)
		VALUES (
		    #{id_, jdbcType=INTEGER},  <!-- id_ -->
		    #{tid, jdbcType=INTEGER},  <!-- tid -->
		    #{fieldenname, jdbcType=VARCHAR},  <!-- FieldEnName -->
		    #{fieldcnname, jdbcType=VARCHAR},  <!-- FieldCnName -->
		    #{fieldclass, jdbcType=VARCHAR},  <!-- FieldClass -->
		    #{fieldsize, jdbcType=INTEGER},  <!-- FieldSize -->
		    #{fieldview, jdbcType=INTEGER},  <!-- FieldView -->
		    #{fieldmetch, jdbcType=INTEGER},  <!-- FieldMetch -->
		    #{fieldtype, jdbcType=INTEGER},  <!-- FieldType -->
		    #{fieldnull, jdbcType=INTEGER},  <!-- FieldNull -->
		    #{fieldft, jdbcType=INTEGER},  <!-- FieldFt -->
		    #{indx, jdbcType=INTEGER},  <!-- indx -->
		    #{searchview, jdbcType=INTEGER},  <!-- SearchView -->
		    #{fieldsetview, jdbcType=INTEGER},  <!-- FieldSetView -->
		    #{zjdisplay, jdbcType=VARCHAR},  <!-- zjdisplay -->
		    #{dislen, jdbcType=INTEGER}  <!-- dislen -->
		)
	</insert>

	<!-- 根据主键修改数据持久化对象 -->
	<update id="updateByKey" parameterType="Archive_tablefieldlistPO">
		UPDATE archive_tablefieldlist
		<set>
			<if test="id_ != null">
		          id_ = #{id_, jdbcType=INTEGER},  <!-- id_ -->
			</if>
			<if test="tid != null">
		          tid = #{tid, jdbcType=INTEGER},  <!-- tid -->
			</if>
			<if test="fieldenname != null">
		          fieldenname = #{fieldenname, jdbcType=VARCHAR},  <!-- FieldEnName -->
			</if>
			<if test="fieldcnname != null">
		          fieldcnname = #{fieldcnname, jdbcType=VARCHAR},  <!-- FieldCnName -->
			</if>
			<if test="fieldclass != null">
		          fieldclass = #{fieldclass, jdbcType=VARCHAR},  <!-- FieldClass -->
			</if>
			<if test="fieldsize != null">
		          fieldsize = #{fieldsize, jdbcType=INTEGER},  <!-- FieldSize -->
			</if>
			<if test="fieldview != null">
		          fieldview = #{fieldview, jdbcType=INTEGER},  <!-- FieldView -->
			</if>
			<if test="fieldmetch != null">
		          fieldmetch = #{fieldmetch, jdbcType=INTEGER},  <!-- FieldMetch -->
			</if>
			<if test="fieldtype != null">
		          fieldtype = #{fieldtype, jdbcType=INTEGER},  <!-- FieldType -->
			</if>
			<if test="fieldnull != null">
		          fieldnull = #{fieldnull, jdbcType=INTEGER},  <!-- FieldNull -->
			</if>
			<if test="fieldft != null">
		          fieldft = #{fieldft, jdbcType=INTEGER},  <!-- FieldFt -->
			</if>
			<if test="indx != null">
		          indx = #{indx, jdbcType=INTEGER},  <!-- indx -->
			</if>
			<if test="searchview != null">
		          searchview = #{searchview, jdbcType=INTEGER},  <!-- SearchView -->
			</if>
			<if test="fieldsetview != null">
		          fieldsetview = #{fieldsetview, jdbcType=INTEGER},  <!-- FieldSetView -->
			</if>
			<if test="zjdisplay != null">
		          zjdisplay = #{zjdisplay, jdbcType=VARCHAR},  <!-- zjdisplay -->
			</if>
			<if test="dislen != null">
		          dislen = #{dislen, jdbcType=INTEGER},  <!-- dislen -->
			</if>
		</set>
		WHERE id_=#{id_}
	</update>
	
	<!-- 根据主键删除数据持久化对象 -->
	<delete id="deleteByKey">
		DELETE FROM archive_tablefieldlist WHERE id_=#{id_}
	</delete>

	<!-- 根据主键查询并返回数据持久化对象 -->
	<select id="selectByKey" resultType="Archive_tablefieldlistPO">
		SELECT
		<include refid="column" />
		FROM archive_tablefieldlist WHERE id_ = #{id_}
	</select>

	<!-- 根据唯一组合条件查询并返回数据持久化对象 -->
	<select id="selectOne" parameterType="Dto" resultType="Archive_tablefieldlistPO">
		SELECT
		    <include refid="column" />
		FROM archive_tablefieldlist
		<where>
		    <include refid="equal" />
		</where>		
	</select>

	<!-- 根据Dto查询并返回数据持久化对象集合 -->
	<select id="list" parameterType="Dto" resultType="Archive_tablefieldlistPO">
		SELECT
			<include refid="column" />	
		FROM archive_tablefieldlist
		<where>
		    <include refid="equal" />
		</where>	
	</select>

	<!-- 根据Dto查询并返回分页数据持久化对象集合 -->
	<select id="listPage" parameterType="Dto" resultType="Archive_tablefieldlistPO" useCache="false">
	    SELECT
			<include refid="column" />	
		FROM archive_tablefieldlist
		<where>
		    <include refid="equal" />
		</where>	
	</select>
	
	<!-- 根据Dto模糊查询并返回数据持久化对象集合(字符型字段模糊匹配，其余字段精确匹配) -->
	<select id="like" parameterType="Dto" resultType="Archive_tablefieldlistPO">
		SELECT
			<include refid="column" />	
		FROM archive_tablefieldlist
		<where>
		    <include refid="like" />
		</where>	
	</select>

	<!-- 根据Dto模糊查询并返回分页数据持久化对象集合(字符型字段模糊匹配，其余字段精确匹配) -->
	<select id="likePage" parameterType="Dto" resultType="Archive_tablefieldlistPO" useCache="false">
	    SELECT
			<include refid="column" />	
		FROM archive_tablefieldlist
		<where>
		    <include refid="like" />
		</where>	
	</select>
	
	<!-- 根据Dto统计行数 -->
	<select id="rows" resultType="Integer" parameterType="Dto">
		SELECT COUNT(1) AS aos_rows_ FROM archive_tablefieldlist
		<where>
		    <include refid="equal" />
		</where>
	</select>
	
	<!-- 根据数学表达式进行数学运算 -->
	<select id="calc" parameterType="Dto" resultType="String">
		SELECT
			${_expr}
		FROM archive_tablefieldlist
		<where>
		    <include refid="equal" />
		</where>
	</select>
	
	<!-- 表字段 -->
	<sql id="column">
		  id_,  <!-- id_ -->
		  tid,  <!-- tid -->
		  fieldenname,  <!-- FieldEnName -->
		  fieldcnname,  <!-- FieldCnName -->
		  fieldclass,  <!-- FieldClass -->
		  fieldsize,  <!-- FieldSize -->
		  fieldview,  <!-- FieldView -->
		  fieldmetch,  <!-- FieldMetch -->
		  fieldtype,  <!-- FieldType -->
		  fieldnull,  <!-- FieldNull -->
		  fieldft,  <!-- FieldFt -->
		  indx,  <!-- indx -->
		  searchview,  <!-- SearchView -->
		  fieldsetview,  <!-- FieldSetView -->
		  zjdisplay,  <!-- zjdisplay -->
		  dislen  <!-- dislen -->
	</sql>
	
	<!-- 表字段(用于外表的关联时引用) -->
	<sql id="column2">
		  archive_tablefieldlist.id_,  <!-- id_ -->
		  archive_tablefieldlist.tid,  <!-- tid -->
		  archive_tablefieldlist.fieldenname,  <!-- FieldEnName -->
		  archive_tablefieldlist.fieldcnname,  <!-- FieldCnName -->
		  archive_tablefieldlist.fieldclass,  <!-- FieldClass -->
		  archive_tablefieldlist.fieldsize,  <!-- FieldSize -->
		  archive_tablefieldlist.fieldview,  <!-- FieldView -->
		  archive_tablefieldlist.fieldmetch,  <!-- FieldMetch -->
		  archive_tablefieldlist.fieldtype,  <!-- FieldType -->
		  archive_tablefieldlist.fieldnull,  <!-- FieldNull -->
		  archive_tablefieldlist.fieldft,  <!-- FieldFt -->
		  archive_tablefieldlist.indx,  <!-- indx -->
		  archive_tablefieldlist.searchview,  <!-- SearchView -->
		  archive_tablefieldlist.fieldsetview,  <!-- FieldSetView -->
		  archive_tablefieldlist.zjdisplay,  <!-- zjdisplay -->
		  archive_tablefieldlist.dislen  <!-- dislen -->
	</sql>

	<!-- Where精确匹配字段 -->
	<sql id="equal">
	   <if test="id_ != null ">
		      AND id_ = #{id_}  <!-- id_ -->
		</if>
	   <if test="tid != null ">
		      AND tid = #{tid}  <!-- tid -->
		</if>
	    <if test="fieldenname != null and fieldenname != ''">
		      AND fieldenname = #{fieldenname}  <!-- FieldEnName -->
		</if>
	    <if test="fieldcnname != null and fieldcnname != ''">
		      AND fieldcnname = #{fieldcnname}  <!-- FieldCnName -->
		</if>
	    <if test="fieldclass != null and fieldclass != ''">
		      AND fieldclass = #{fieldclass}  <!-- FieldClass -->
		</if>
	   <if test="fieldsize != null ">
		      AND fieldsize = #{fieldsize}  <!-- FieldSize -->
		</if>
	   <if test="fieldview != null ">
		      AND fieldview = #{fieldview}  <!-- FieldView -->
		</if>
	   <if test="fieldmetch != null ">
		      AND fieldmetch = #{fieldmetch}  <!-- FieldMetch -->
		</if>
	   <if test="fieldtype != null ">
		      AND fieldtype = #{fieldtype}  <!-- FieldType -->
		</if>
	   <if test="fieldnull != null ">
		      AND fieldnull = #{fieldnull}  <!-- FieldNull -->
		</if>
	   <if test="fieldft != null ">
		      AND fieldft = #{fieldft}  <!-- FieldFt -->
		</if>
	   <if test="indx != null ">
		      AND indx = #{indx}  <!-- indx -->
		</if>
	   <if test="searchview != null ">
		      AND searchview = #{searchview}  <!-- SearchView -->
		</if>
	   <if test="fieldsetview != null ">
		      AND fieldsetview = #{fieldsetview}  <!-- FieldSetView -->
		</if>
	    <if test="zjdisplay != null and zjdisplay != ''">
		      AND zjdisplay = #{zjdisplay}  <!-- zjdisplay -->
		</if>
	   <if test="dislen != null ">
		      AND dislen = #{dislen}  <!-- dislen -->
		</if>
	</sql>
	
	<!-- Where模糊匹配字段 -->
	<sql id="like">
	    <if test="fieldenname != null and fieldenname != ''">
		      AND fieldenname like '%${fieldenname}%'  <!-- FieldEnName -->
		</if>
	    <if test="fieldcnname != null and fieldcnname != ''">
		      AND fieldcnname like '%${fieldcnname}%'  <!-- FieldCnName -->
		</if>
	    <if test="fieldclass != null and fieldclass != ''">
		      AND fieldclass like '%${fieldclass}%'  <!-- FieldClass -->
		</if>
	    <if test="zjdisplay != null and zjdisplay != ''">
		      AND zjdisplay like '%${zjdisplay}%'  <!-- zjdisplay -->
		</if>
	</sql>
	
	<!-- 显示表头 -->
	<select id="getDataFieldDisplayAll" parameterType="String" resultType="Archive_tablefieldlistPO">
	 select FieldEnName, FieldCnName,fieldSize, case  when dislen is null then 100 else dislen end dislen  from ARCHIVE_TABLEFIELDLIST    WHERE tid IN         
 (SELECT id_     FROM ARCHIVE_TABLENAME      WHERE tablename =  #{tablename} )  
 and  (FieldView is null or FieldView=1)   order by indx   
	
	</select>
	
	<!-- 显示元数据表头 -->
	<select id="getInfoFieldDisplayAll" parameterType="String" resultType="Archive_tablefieldlistPO">
	 select FieldEnName, FieldCnName,fieldSize, case  when dislen is null then 100 else dislen end dislen  from ARCHIVE_TABLEFIELDLIST    WHERE tid IN         
 (SELECT id_     FROM ARCHIVE_TABLEINFO      WHERE tablename =  #{tablename} )  
 and  (FieldView is null or FieldView=1)   order by indx   
	
	</select>
	
	<!-- 显示下拉框 -->
	<select id="getFieldsCombo" parameterType="String" resultType="Archive_tablefieldlistPO">
		SELECT <include refid="column" />
		 FROM archive_TableFieldList 
		  WHERE FieldMetch &lt;&gt;1 and tid=(select id_ from archive_TableName where tablename=#{tablename})
		 and FieldEnName not in  (SELECT DISTINCT LEFT(fieldname, LEN(fieldname) - 1) FROM  
		 archive_TableInput where Yndisplay='1' and right(fieldname,1)='D' and tablename=#{tablename})

	</select>
	
	<!-- 显示下拉框 -->
	<select id="getTableFields" parameterType="String" resultType="Archive_tablefieldlistPO">
	SELECT  FieldEnName, FieldCnName,FieldClass,FieldMetch,
	FieldSize,indx FROM archive_TableFieldList  
	WHERE  FieldEnName not in ('_lrr','_lrrq') 
	and   (tid =   (SELECT id_  FROM archive_tablename WHERE tablename = #{tablename})) order by indx asc
	</select>
	
	<!-- 设置顺序列表字段 -->
	<select id="getOrderFields" parameterType="String" resultType="Archive_tablefieldlistPO">
	select id_,FieldEnName, FieldCnName,fieldSize, case  when dislen is null then 100 else dislen end dislen  from ARCHIVE_TABLEFIELDLIST    WHERE tid IN 
	(#{tid})
 		and  (FieldView is null or FieldView=1)   order by indx   
	</select>
	
</mapper>